<div class='has-text-centered'>
  <h2 class="is-size-2">Your Cart</h2>
</div>

<div class="table-container">
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Teams</th>
        <th>Game</th>
        <th>Date</th>
        <th>Price</th>
        <th>Tickets</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% unless @cartitems == [] %>
        <%= form_tag(adjust_tickets_path, id: 'cart-form') do %>
          <% @cartitems.each do |pair| %>
            <% game = pair[0] %>
            <% ticketCount = pair[1] %>
            <tr>
              <td>
                <span><%= game.home_team.name%><strong> (H)</strong></span><br/>
                <%= game.visiting_team.name %>
              </td>
              <td>
                <%= game.gender + ' ' + game.level + ' ' + game.sport %>
              </td>
              <td>
                <%= game.event_start.strftime('%B %d, %Y') %><br/>
                <%= game.event_start.strftime('%l:%M%p') %>
              </td>
              <td>
                <% @subtotal += ticketCount * game.price %>
                <span><%= number_to_currency(game.price/100.0) %>/ea</span>
              </td>
              <td>
                <select class='browser-default' id=<%= game.id.to_s + '-tickets'%> name=<%= "tickets[#{game.id}]" %> onchange='handleTicketChange()'>
                  <% (1..purchaseable_tickets(game)).each do |i| %>
                    <option 
                      value='<%= i %>'
                      <%= 'selected' if ticketCount == i %>
                      >
                        <%= i %>
                    </option>
                  <% end %>
                </select>
              </td>
              <td>
                <%= link_to 'remove', remove_from_cart_path(id: game.id), method: :delete %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <%# cart is not empty %>

        </tbody>
        </table>
        </div>

        <%# <% @tax = (@subtotal * 0.075).round() %>
        <% @creditCardFee = ((@subtotal + @tax) * 0.0298661174 + 30.895983522).round() %>
        <% @total = @subtotal + @tax + @creditCardFee %>

        <div class='level'>
          <div class='level-left'></div>
          <div class='level-right'>
            <div class='level-item columns is-mobile'>
              <div class='column is-narrow'>
                <div class='columns is-mobile mb-0'>
                  <div class='column is-narrow has-text-right'>
                    <p>sub total</p>
                    <%# <p>tax</p> %>
                    <p>credit card fee</p>
                    <p><strong>total</strong></p>
                  </div>

                  <div class='column is-narrow has-text-left mb-0'>
                    <p><%=number_to_currency(@subtotal/100)%></p>
                    <%# <p><%=number_to_currency(@tax/100.0)</p> %>
                    <p><%=number_to_currency(@creditCardFee/100.0)%></p>
                    <p><strong><%=number_to_currency(@total/100.0)%></strong></p>
                  </div>
                </div>

                <div class="has-text-centered">
                  <% if user_signed_in? %>
                    <%= link_to cart_checkout_path do %>
                        <button class='button is-primary is-fullwidth'>CHECKOUT</button>
                    <% end %>
                  <% else %>
                    <%= link_to new_user_session_path do %>
                        <button class='button is-primary is-fullwidth'>sign in to checkout</button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>



      <% else %>
      <%# cart is empty %>
        <tr>
          <td></td>
          <td>Your cart is empty.</td>
          <td></td>
          <td></td>
          <td>
            <%= link_to games_path do %>
              <button class="button is-primary">go to games</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script>
  handleTicketChange = () => {
    document.getElementById('cart-form').submit()
  }
</script>