<%= session[:cart] %>
<%if @cartitems[0]%>
<%= link_to 'test 5', adjust_tickets_path(id: @cartitems[0].id, ticket_count: '5'), method: :post %>
<%= link_to 'test 2', adjust_tickets_path(id: @cartitems[0].id, ticket_count: '2'), method: :post %>
<%end%>

<ul class="collection with-header">
  <li class="collection-header center-align"><h4>Your Cart</h4></li>

    <% unless @cartitems == [] %>
      <% @cartitems.each do |game| %>
        <li class="collection-item avatar">
            <div>
                <p>
                    <%= game.gender + ' ' + game.level + ' ' + game.sport %><br/>
                    <%= game.home_team.name + ' vs ' + game.visiting_team.name %><br/>
                    <%= game.event_start.strftime('%B %d, %Y') %><br/>
                    <%= game.event_start.strftime('%l:%M%p') %>
                </p>            
                  <div class="secondary-content right">
                    <label for='ticknum'>number of tickets</label>
                    <select class='browser-default' id=<%= game.id.to_s + '-tickets'%> name='tickets' onchange='handleTicketChange(<%=game.id%>);'>
                      <option value='' disabled selected><%=@cart.count(game.id)%></option>
                      <option value='1'>1</option>
                      <option value='2'>2</option>
                      <option value='3'>3</option>
                      <option value='4'>4</option>
                      <option value='5'>5</option>
                      <option value='6'>6</option>
                      <option value='7'>7</option>
                      <option value='8'>8</option>
                    </select>
                  </div>
                  <div class="right">
                      <%= number_to_currency(@cart.count(game.id) * game.price/100.0) + ' ' %><br/>
                      <%= link_to remove_from_cart_path(game.id), method: :delete do %>
                        remove<i class="material-icons tiny">delete_forever</i>
                      <% end %>
                  </div>
            </div>
        </li>
      <% end %>
    </ul>
    <div class='right'>
        <p>sub total</p>
        <p>tax?</   p>
        <p>Credit Card Fee</p>
        <p>total</p>
        <button class='btn'>BUY TICKETS</button>
    </div>

    <% else %>
        <li class="collection-item">
            Your cart is empty.
            <div class="secondary-content">
                <%= link_to games_path do %>
                    <button class="btn-small waves-effect waves-light">go to games</button>
                <% end %>
            </div>
        </li>
    <% end %>
  </ul>

  <script>
    handleTicketChange = (gid) => {
        let selectBox = document.getElementById(`${gid}-tickets`)
        let numberOfTickets = selectBox.options[selectBox.selectedIndex].value

        const csrfToken = document.querySelector("[name='csrf-token']").content
        fetch(`/cart/${gid}/${numberOfTickets}/adjust_tickets.json`, { method: 'POST', headers: { "X-CSRF-Token": csrfToken }})
        .then(console.log('why no page refresh?'))
    }
  </script>