<style>
  .calendarTop {
    backgroundColor: "orange";
    borderRadius: "4px";
    border: "1px solid grey";
    marginLeft: "40px";
    marginRight: "40px";
  }
  .month {
    fontSize: "1rem";
  }
  .calendarCard {
    paddingBottom: 0;
  }
  .calendarBottom {
    backgroundColor: "white"; 
    borderBottomLeftRadius: "4px"; 
    borderBottomRightRadius:"4px";
    borderTop: "1px solid grey";
    fontSize: "3rem";
    padding: 1;
  },
</style>

<p>This is the games index</p>

<% @games.each do |game| %>
<div class='center-align'>
  <div class="row center-align">
    <div class="col s12 m8 offset-m2">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <div class='col s6'>
            <%= image_tag(game.home_team.logo_location, height: '100px', alt: game.home_team.name + ' logo') -%>
            <p><%=game.home_team.name%></p>
            <p><%=game.home_team.mascot%></p>
          </div>
          <div class='col s6'>
            <%= image_tag(game.visiting_team.logo_location, height: '100px', alt: game.visiting_team.name + ' logo') -%>
            <p><%=game.visiting_team.name%></p>
            <p><%=game.visiting_team.mascot%></p>      
          </div>
          <span class="card-title"><%=game.gender + ' ' + game.level + ' ' + game.sport%></span>
          <div class ='col s6'>
            <i class="tiny material-icons">location_on</i><%= game.location %>
            <div>
              Details on event
            </div>
          </div>
          <div class ='col s6'>
            <div class='white-background'>
                <div class='calendarCard'>
                    <div class='calendarTop'>
                        <p class='month'>month</p>
                        <p class='calendarBottom'>00</p>
                    </div>
                    <p>day of week</p>
                    <p>time</p>
                </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="#">GET TICKETS</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
    </ul>

 </ul>