<p>This is the games index</p>
<ul>
    <% @games.each do |game| %>
    <li><%= game.id %></li>
    <ul>
    <% game.as_json.each do |key, value| %>
        <li><%= "#{key}, #{value}" %></li>
        <% end %>
    </ul>
    <% end %>
 </ul>
<% @games.each do |game| %>
<div class='center-align'>
  <div class="row center-align">
    <div class="col s12 m8 offset-m2">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <div class='col s6'>
            <%= image_tag(game.home_team.logo_location, height: '100px', alt: game.home_team.name + ' logo') -%>
            <p><%=game.home_team.name%></p>
            <p><%=game.home_team.mascot%></p>
          </div>
          <div class='col s6'>
            <%= image_tag(game.visiting_team.logo_location, height: '100px', alt: game.visiting_team.name + ' logo') -%>
            <p><%=game.visiting_team.name%></p>
            <p><%=game.visiting_team.mascot%></p>      
          </div>
          <span class="card-title"><%=game.gender + ' ' + game.level + ' ' + game.sport%></span>
          <div class ='col s6'>
            <i class="tiny material-icons">location_on</i><%= game.location %>
            <div>
              Details on event
            </div>
          </div>
          <div class ='col s6'>
            <%= game.event_start %>
          </div>
        </div>
        <div class="card-action">
          <a href="#">GET TICKETS</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
    </ul>

 </ul>