<div class='has-text-centered'>
  <h2 class="is-size-2">Upcoming Games</h2>
</div>

<% unless @futureGames == [] %> <% @futureGames.each do |game| %>
  <div class="box has-text-centered">

    <div class="columns">
      <div class="column is-half">
        <figure class="image is-96x96 is-inline-block">
          <%= image_tag(game.home_team.logo_location, class: 'is-square', alt:game.home_team.name + ' logo') -%>
        </figure>
        <p><%=game.home_team.name%></p>
        <p><%=game.home_team.mascot%></p>
      </div>
      <div class="column is-half">
        <figure class="image is-96x96 is-inline-block">
          <%= image_tag(game.visiting_team.logo_location, class:"is-square", alt:game.visiting_team.name + ' logo') -%>
        </figure>
        <p><%=game.visiting_team.name%></p>
        <p><%=game.visiting_team.mascot%></p>
      </div>
    </div>
    
    <span class="is-size-3"><%=game.gender + ' ' + game.level + ' ' + game.sport%></span>

    <div class="columns">
      <div class="column is-half">
        <i class="tiny material-icons">location_on</i><%= game.location %>
        <div class="card card-content black-text">Details on event</div>
      </div>
      <div class="column is-half">
        <div class="card card-content black-text">
          <div class="calendarCard">
            <div class="calendarTop">
              <p class="month">
                <%= Date::MONTHNAMES[game.event_start.month] %>
              </p>
              <p class="calendarBottom"><%= game.event_start.day %></p>
            </div>
            <p><%= Date::DAYNAMES[game.event_start.wday] %></p>
            <%if game.event_start.hour > 11 %>
            <p>
              <%= game.event_start.hour - 11 %>:<%= game.event_start.min %> pm
            </p>
            <% else %>
            <p><%= game.event_start.hour %>:<%= game.event_start.min %> pm</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if game.tickets.count >= game.max_capacity %>
      <button class="button disabled">SOLD OUT</button>
    <% elsif @cartitems.include?(game) %> 
      <%= link_to cart_index_path do %>
        <button class="button is-primary">GET TICKETS</button>
      <% end %> 
    <% else %> 
      <%= link_to add_to_cart_path(game.id), method: :post do %>
        <button class="button is-primary">GET TICKETS</button>
      <% end %> 
    <% end %>
    <br />
    <br />
  </div>

  <% end %> 
<% else %>
  <p>No upcoming games.</p>
<% end %>
