<h1>My Account</h1>

<h4>User info</h4>
<p><strong>Name</strong></p>
<p><%= current_user.first_name + ' ' + current_user.last_name %></p>
<p><strong>email</strong></p>
<p><%= current_user.email %></p>
<p><strong>lifetime tickets</strong></p>
<p><%= current_user.tickets.count %></p>

<hr>
<%= link_to edit_user_registration_path do %>
    <button class="waves-effect waves-light btn">Update Information</button>
<% end %>

<%= link_to my_tickets_path do %>
    <button class="waves-effect waves-light btn">My Tickets</button>
<% end %>

<% link_to my_account_index_path do %>
    <button class="waves-effect waves-light btn">Purchase History</button>
<% end %>

<br/><br/>
<%= button_to 'Sign Out', destroy_user_session_path,	method: :delete %>

