<h1>My Account</h1>

<h4>User info</h4>
<p><strong>Name</strong></p>
<p><%= current_user.first_name + ' ' + current_user.last_name %></p>
<p><strong>email</strong></p>
<p><%= current_user.email %></p>
<p><strong>lifetime tickets</strong></p>
<p><%= current_user.tickets.count %></p>

<h4>Tickets</h4>
<% unless @futureUnusedTickets == [] %> 
    <%= @futureUnusedTickets.each do |ticket| %>
        <div class='card'>
            <p><%= ticket.game.sport + ' game' %></p>
            <p><%= ticket.game.home_team.name + ' vs. ' + ticket.game.visiting_team.name %></p>
            <p><%= 'on ' + ticket.game.event_start.to_s %></p>
            <div>
                <img 
                    src='<%= "https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=#{ticket.ticket_code}" %>' 
                    alt='<%= ticket.ticket_code %>' 
                >
            </div>
            <p><%= ticket.ticket_code %></p>
            <p><%= 'used? '+ ticket.used.to_s %></p>
        </div>
    <% end %>
<% else %>
    <ul>
        <li>You have no upcoming tickets.</li>
    </ul>
<% end %>

<br/><br/>
<%= button_to 'Sign Out', destroy_user_session_path,	method: :delete %>

