  <nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Tick-app3-theSQL
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
          <a class="navbar-item" href="/games">Games</a>
          <a class="navbar-item" href="/cart">Cart</a>

          <% if user_signed_in? %>

            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to 'My Account', my_account_index_path, class: "navbar-link is-arrowless" %>
              <div class="navbar-dropdown is-right">
                <a class ="navbar-item" href="/my_account/">My Profile</a>
                <a class ="navbar-item" href="/my_account/tickets">My Tickets</a>
                <hr class="navbar-divider">
                <%= link_to 'Sign Out', destroy_user_session_path, class: "navbar-item", method: :delete %>
              </div>
            </div>

          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "navbar-item" %>
            <div class="navbar-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
            </div>
          <% end %>
      </div>
    </div>
  </nav>


<%= javascript_pack_tag 'navbar' %>