<!DOCTYPE html>
<html>
  <head>
    <title>TickApp3Thesql</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>       

    <%= stylesheet_pack_tag 'custom_bulma', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">

    <%= render "layouts/navbar" %>

    <div class="container is-max-desktop">

      <% if notice %>
        <p class="notice is-warning" ><%= notice %></p>
      <% elsif alert %>
        <p class="alert is-warning" ><%= alert %></p>
      <% end %>

      <%= yield %>
      
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
